<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954119279361-hulf440h1233e1snf6bcsi6goia43eml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954119279361-hulf440h1233e1snf6bcsi6goia43eml</string>
	<key>API_KEY</key>
	<string>AIzaSyB2xeKkOQTMZ2YRUzUsY7bgb-7MlgLLK00</string>
	<key>GCM_SENDER_ID</key>
	<string>954119279361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-81124</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-81124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954119279361:ios:cb4d69f20c933f268b4100</string>
</dict>
</plist>